.movie-container {
    width: 90%;
    /* height: 1100px; */
    /* background-color: aquamarine; */
    margin: auto;
    /* border: 2px solid black; */
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

hr {
    margin: 0 0 10px 0;
}

.movie-container-1 {
    display: inline-block;
    /* width: 30%; */
    width: 35rem;
    /* background-color: rgb(255, 200, 127); */
    /* margin: auto; */
    /* border: 2px solid black; */
    box-sizing: border-box;
    padding: 10px 10px 0 10px;
}

.movie-container-1 h2 {
    margin: 0 0 20px 10px;
}
.movie-container-2 h2{
    margin-left: 70px;
}

.movie-language,
.movie-genres,
.movie-format,
.movie-price
 {
    padding: 10px;
    background-color: rgb(215, 172, 172);
    padding-left: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
}

h3 {
    display: inline-block;
    margin-bottom: 8px;
}

.fa-solid {
    float: right;
    font-size: 20px;
}

input {
    height: 20px;
    width: 20px;
    margin-bottom: 10px;
}

.movie-genres span,
.movie-format span,
.movie-language span,
.movie-price span {
    margin-left: 10px;
    font-size: 17px;
}

.language-holder,
.format-holder,
.genre-holder{
    display: none;
}

.movie-container-2{
    /* margin-left: 5rem; */
}